body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  position: relative;
}
li{
  text-align: left;
  cursor: pointer;
  border: 1px solid gray;
  padding: 10px;
  width: 150px;
  list-style-type: none !important; 
}
.details{
  position: absolute;
  top: 0;
  left: 300px;
  text-align: left;
}
.details>div{
  border: 1px solid gray;
  padding: 10px;
}
.details>img{
  text-align: center;
}